<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>
<div class="conteiner">
    <hr>
    <h2>Categorias</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>               
            </tr>
        </thead>
        <tbody>
            <th>1</th>
            <th>Dev web</th>
            <th>Dev-web</th>
            <th></th>            
        </tbody>
    </table>
    <hr>
</div>



<%- include ('../../partials/footer.ejs'); %>